Repository forrtproject/forrtproject.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: content-related, documentation, cicd

.github/labeler.yml:

content-related:
- changed-files:
  - any-glob-to-any-file:
    - content/**/*

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - CONTRIBUTING.md
    - LICENCE.md
    - .github/ISSUE_TEMPLATE/*

enhancement:
 - head-branch: ['^feature', 'feature']

bug:
 - head-branch: ['^bug', 'bug']

cicd:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

remove mentions of netify
  README.md
Labels: documentation

Add devcontainers and update .gitignore (#109)
  .devcontainer/dev/devcontainer.json
  .gitattributes
  .gitignore
  CONTRIBUTING.md
  README.md
Labels: documentation

Add devcontainers and update .gitignore (#109)
  .devcontainer/dev/devcontainer.json
  .gitattributes
  .gitignore
  CONTRIBUTING.md
  README.md
Labels: documentation

deploy: 1f9de0067674ce584ec64231c16adce32ebb5132
  tag/three-ts/index.xml
Labels: none

fixing image caption
  content/positive-changes-replication-crisis/positive-changes-replication-crisis.md
Labels: content-related

deploy: 1f9de0067674ce584ec64231c16adce32ebb5132
  cv/index.html
  tag/three-ts/index.xml
Labels: none

deploy: 1f9de0067674ce584ec64231c16adce32ebb5132
  cv/index.html
Labels: none

deploy: 1f9de0067674ce584ec64231c16adce32ebb5132
  tag/three-ts/index.xml
Labels: none

deploy: 1f9de0067674ce584ec64231c16adce32ebb5132
  tag/three-ts/index.xml
Labels: none

deploy: 1f9de0067674ce584ec64231c16adce32ebb5132
  tag/three-ts/index.xml
Labels: none

deploy: 1f9de0067674ce584ec64231c16adce32ebb5132
  tag/three-ts/index.xml
Labels: none

deploy: 1f9de0067674ce584ec64231c16adce32ebb5132
  tag/three-ts/index.xml
Labels: none

deploy: 1f9de0067674ce584ec64231c16adce32ebb5132
  contributors/index.html
Labels: none

deploy: 1f9de0067674ce584ec64231c16adce32ebb5132
  tag/three-ts/index.xml
Labels: none

deploy: 1f9de0067674ce584ec64231c16adce32ebb5132
  tag/three-ts/index.xml
Labels: none

Updating Google Tag Manager script
  themes/academic/layouts/partials/marketing/google_tag_manager.html
Labels: none

deploy: 1f9de0067674ce584ec64231c16adce32ebb5132
  cv/index.html
Labels: none

deploy: 1f9de0067674ce584ec64231c16adce32ebb5132
  cv/index.html
  tag/three-ts/index.xml
Labels: none

Updated Google measurement ID
  config/_default/params.toml
  themes/academic/exampleSite/config/_default/params.toml
Labels: none

Updating Google Tag Manager script (#128)
  config/_default/params.toml
  themes/academic/exampleSite/config/_default/params.toml
  themes/academic/layouts/partials/marketing/google_tag_manager.html
Labels: none

Updating Google Tag Manager script (#128)
  config/_default/params.toml
  themes/academic/exampleSite/config/_default/params.toml
  themes/academic/layouts/partials/marketing/google_tag_manager.html
Labels: none
