Repository forrtproject/forrtproject.github.io, changes with the labels that .github/labeler.yaml gives for each.
All labels: cicd, content related, documentation

.github/labeler.yaml:

bug:
 - head-branch: ['^bug', 'bug', '^hotfix', 'hotfix']

cicd:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

content related:
- changed-files:
  - any-glob-to-any-file:
    - content/**/*

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - CONTRIBUTING.md
    - LICENCE.md
    - .github/ISSUE_TEMPLATE/*
    - .github/CODEOWNERS

enhancement:
 - head-branch: ['^feature', 'feature']

first draft
  .github/CODEOWNERS
Labels: documentation

correction on the desc
  .github/CODEOWNERS
Labels: documentation

global owners correction
  .github/CODEOWNERS
Labels: documentation

Add June Newsletter
  content/newsletters/index.md
Labels: content related

redirect to /glossary by default
  config/_default/menus.toml
Labels: none

deploy: e323154b529f33ce5a7c1f907bbe737ce7b52de5
  author/avatar.JPG
  cv/index.html
  tag/three-ts/index.xml
Labels: none

Added new menus and updated related files (#152)
  config/_default/menus.toml
  content/OS-developing-world/LMIC.jpg
  content/OS-developing-world/OS-developing-world.md
  content/awop/awop.md
Labels: content related

Added new menus and updated related files (#152)
  config/_default/menus.toml
  content/OS-developing-world/LMIC.jpg
  content/OS-developing-world/OS-developing-world.md
  content/awop/awop.md
Labels: content related

Add June Newsletter (#156)
  content/newsletters/index.md
Labels: content related

Add June Newsletter (#156)
  content/newsletters/index.md
Labels: content related

deploy: dcb6b24f50c8678174355c1f60c4952c980f7cf7
  index.json
  index.xml
  newsletters/index.html
  sitemap.xml
  tag/three-ts/index.xml
Labels: none

deploy: dcb6b24f50c8678174355c1f60c4952c980f7cf7
  tag/three-ts/index.xml
Labels: none

deploy: dcb6b24f50c8678174355c1f60c4952c980f7cf7
  contributors/index.html
Labels: none

deploy: dcb6b24f50c8678174355c1f60c4952c980f7cf7
  tag/three-ts/index.xml
Labels: none

Add dummy book
  content/res-book/_index.md
  content/res-book/example.md
Labels: content related

deploy: dcb6b24f50c8678174355c1f60c4952c980f7cf7
  tag/three-ts/index.xml
Labels: none

Kelly Llyod codes
  content/newsletters/index.md
  layouts/shortcodes/subscribe.html
Labels: content related

deploy: dcb6b24f50c8678174355c1f60c4952c980f7cf7
  tag/three-ts/index.xml
Labels: none

deploy: dcb6b24f50c8678174355c1f60c4952c980f7cf7
  tag/three-ts/index.xml
Labels: none

deploy: dcb6b24f50c8678174355c1f60c4952c980f7cf7
  tag/three-ts/index.xml
Labels: none

Update reversals.md
  content/reversals/reversals.md
Labels: content related

deploy: dcb6b24f50c8678174355c1f60c4952c980f7cf7
  tag/three-ts/index.xml
Labels: none

deploy: dcb6b24f50c8678174355c1f60c4952c980f7cf7
  curated_resources/780_introduction-to-simulations/index.html
  cv/index.html
  index.json
  tag/three-ts/index.html
  tag/three-ts/index.xml
Labels: none

deploy: dcb6b24f50c8678174355c1f60c4952c980f7cf7
  cv/index.html
  tag/three-ts/index.html
Labels: none

deploy: dcb6b24f50c8678174355c1f60c4952c980f7cf7
  cv/index.html
  tag/three-ts/index.html
Labels: none

deploy: dcb6b24f50c8678174355c1f60c4952c980f7cf7
  tag/three-ts/index.html
  tag/three-ts/index.xml
Labels: none

deploy: dcb6b24f50c8678174355c1f60c4952c980f7cf7
  tag/three-ts/index.xml
Labels: none

deploy: dcb6b24f50c8678174355c1f60c4952c980f7cf7
  tag/three-ts/index.xml
Labels: none

deploy: dcb6b24f50c8678174355c1f60c4952c980f7cf7
  tag/three-ts/index.xml
Labels: none

Update reversals.md
  content/reversals/reversals.md
Labels: content related

Update reversals.md (#161)
  content/reversals/reversals.md
Labels: content related

Update reversals.md (#161)
  content/reversals/reversals.md
Labels: content related

deploy: 6789bb552ab26f7ef52514eb8f78d32bc72d325c
  reversals/index.html
  tag/three-ts/index.xml
Labels: none

deploy: 6789bb552ab26f7ef52514eb8f78d32bc72d325c
  tag/three-ts/index.html
Labels: none

deploy: 6789bb552ab26f7ef52514eb8f78d32bc72d325c
  tag/three-ts/index.html
  tag/three-ts/index.xml
Labels: none

deploy: 6789bb552ab26f7ef52514eb8f78d32bc72d325c
  tag/three-ts/index.xml
Labels: none

deploy: 6789bb552ab26f7ef52514eb8f78d32bc72d325c
  tag/three-ts/index.xml
Labels: none

deploy: 6789bb552ab26f7ef52514eb8f78d32bc72d325c
  tag/three-ts/index.xml
Labels: none

deploy: 6789bb552ab26f7ef52514eb8f78d32bc72d325c
  tag/three-ts/index.xml
Labels: none

deploy: 6789bb552ab26f7ef52514eb8f78d32bc72d325c
  media/.gitkeep
Labels: none
