Repository forrtproject/forrtproject.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: content-related, documentation, cicd

.github/labeler.yml:

content-related:
- changed-files:
  - any-glob-to-any-file:
    - content/**/*

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - CONTRIBUTING.md
    - LICENCE.md
    - .github/ISSUE_TEMPLATE/*

enhancement:
 - head-branch: ['^feature', 'feature']

bug:
 - head-branch: ['^bug', 'bug']

cicd:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

Update replication-hub.md (#119)
  content/replication-hub/replication-hub.md
Labels: content-related

deploy: 180517b4240477a1253d6cf8b0a1d9945ae6be77
  replication-hub/index.html
  tag/three-ts/index.xml
Labels: none

deploy: 180517b4240477a1253d6cf8b0a1d9945ae6be77
  cv/index.html
Labels: none

Add May Newsletter
  content/newsletters/index.md
Labels: content-related

Add May Newsletter (#120)
  content/newsletters/index.md
Labels: content-related

Add May Newsletter (#120)
  content/newsletters/index.md
Labels: content-related

deploy: 34e0cd4b3040fa301f0318661ad40b666ed918d3
  cv/index.html
  index.json
  index.xml
  newsletters/index.html
  sitemap.xml
  tag/three-ts/index.xml
Labels: none

Dermott Lynott suggested changes
  content/educators-corner/017-teaching-os-to-undergraduates/index.md
Labels: content-related

deploy: 34e0cd4b3040fa301f0318661ad40b666ed918d3
  cv/index.html
Labels: none

not required for now
  .github/workflows/deploy.yaml
Labels: cicd

so that tenzing can update in master
  .github/workflows/deploy.yaml
Labels: cicd

remove comments
  content/resources/resource.py
  scripts/forrt_contribs/tenzing.py
Labels: content-related

rename step
  .github/workflows/deploy.yaml
Labels: cicd

specific permissions
  .github/workflows/deploy.yaml
Labels: cicd

add metadata perm
  .github/workflows/deploy.yaml
Labels: cicd

metadata
  .github/workflows/deploy.yaml
Labels: cicd

Daily contributors update
  content/contributors/tenzing.md
  scripts/forrt_contribs/tenzing.md
Labels: content-related

deploy: 34e0cd4b3040fa301f0318661ad40b666ed918d3
  cv/index.html
  tag/three-ts/index.xml
Labels: none

improve CONTRIBUTING
  CONTRIBUTING.md
Labels: documentation

deploy: 4cd373a8641f45c71b12273a75fdc7400408128b
  tag/three-ts/index.xml
Labels: none

image package still in dev
  scripts/image_package/go.mod
  scripts/image_package/main.go
Labels: none

correct branch for deploy
  .github/workflows/deploy.yaml
Labels: cicd

Hugo Deployment Updates + Fix Caching (#111)
  .github/workflows/daily_tenzing.yaml
  .github/workflows/deploy.yaml
  .github/workflows/preview.yaml
  README.md
  scripts/forrt_contribs/tenzing.py
Labels: documentation, cicd

Hugo Deployment Updates + Fix Caching (#111)
  .github/workflows/daily_tenzing.yaml
  .github/workflows/deploy.yaml
  .github/workflows/preview.yaml
  README.md
  scripts/forrt_contribs/tenzing.py
Labels: documentation, cicd

Dermott Lynott suggested changes (#121)
  content/educators-corner/017-teaching-os-to-undergraduates/index.md
Labels: content-related

Dermott Lynott suggested changes (#121)
  content/educators-corner/017-teaching-os-to-undergraduates/index.md
Labels: content-related

deploy: cbbb2bc76887d033646c4e653377c5cbdd16cf86
  author/dermot-lynott-forrt/index.xml
  educators-corner/017-teaching-os-to-undergraduates/index.html
  educators-corner/index.html
  educators-corner/index.xml
  index.json
  index.xml
  sitemap.xml
Labels: none

test PR
  content/awop/awop.md
Labels: content-related

correct branch
  .github/workflows/deploy.yaml
Labels: cicd

github.ref
  .github/workflows/deploy.yaml
Labels: cicd

Hotfix: Checkout current branch (#126)
  .github/workflows/deploy.yaml
Labels: cicd

Hotfix: Checkout current branch (#126)
  .github/workflows/deploy.yaml
Labels: cicd

Updates to contributing.md
  CONTRIBUTING.md
Labels: documentation

team-website as owners (#113)
  .github/CODEOWNERS
Labels: none

team-website as owners (#113)
  .github/CODEOWNERS
Labels: none

remove ..hugo_build.lock; add to gitignore (#112)
  .gitignore
  .hugo_build.lock
Labels: none

remove ..hugo_build.lock; add to gitignore (#112)
  .gitignore
  .hugo_build.lock
Labels: none

the default should be unroot
  .devcontainer/dev/devcontainer.json
Labels: none

updated contributing
  CONTRIBUTING.md
Labels: documentation

correct section
  CONTRIBUTING.md
Labels: documentation
