Repository forrtproject/forrtproject.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: content-related, documentation, cicd

.github/labeler.yml:

content-related:
- changed-files:
  - any-glob-to-any-file:
    - content/**/*

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - CONTRIBUTING.md
    - LICENCE.md
    - .github/ISSUE_TEMPLATE/*

enhancement:
 - head-branch: ['^feature', 'feature']

bug:
 - head-branch: ['^bug', 'bug']

cicd:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

workflow dispatch
  .github/workflows/labeler.yaml
Labels: cicd

spelling correction
  .github/workflows/labeler.yaml
Labels: cicd

deploy: e6c7becb90d66c181cb8ec6df18f919d90133808
  cv/index.html
  tag/three-ts/index.xml
Labels: none

sync-labels to true
  .github/workflows/labeler.yaml
Labels: cicd

deploy: af3582f46a212ab0dd4e7c25f1b74d315b474ee2
  tag/three-ts/index.html
Labels: none

in progress
  scripts/image_package/go.mod
  scripts/image_package/main.go
Labels: none

extra security
  .github/workflows/daily_tenzing.yaml
  .github/workflows/deploy.yaml
Labels: cicd

don't use pull_request_target
  .github/workflows/daily_tenzing.yaml
  .github/workflows/deploy.yaml
Labels: cicd

deploy: af3582f46a212ab0dd4e7c25f1b74d315b474ee2
  cv/index.html
  tag/three-ts/index.html
Labels: none

deploy: af3582f46a212ab0dd4e7c25f1b74d315b474ee2
  cv/index.html
  tag/three-ts/index.html
Labels: none

deploy: af3582f46a212ab0dd4e7c25f1b74d315b474ee2
  tag/three-ts/index.xml
Labels: none

deploy: af3582f46a212ab0dd4e7c25f1b74d315b474ee2
  tag/three-ts/index.xml
Labels: none

consolidate tenzing
  .github/workflows/daily_tenzing.yaml
  .github/workflows/deploy.yaml
  content/resources/resource.py
  scripts/forrt_contribs/tenzing.py
Labels: content-related, cicd

correct link
  scripts/forrt_contribs/tenzing.py
Labels: none

reduce perms; remove tenzing references
  .github/workflows/deploy.yaml
Labels: cicd

check if this is required
  .github/workflows/deploy.yaml
Labels: cicd

remove preview
  .github/workflows/preview.yaml
Labels: cicd

explicit perms
  .github/workflows/deploy.yaml
Labels: cicd

not required an an env
  .github/workflows/deploy.yaml
Labels: cicd

check curated
  .github/workflows/deploy.yaml
Labels: cicd

correct path
  .github/workflows/deploy.yaml
Labels: cicd

add a small validation to curated
  .github/workflows/deploy.yaml
Labels: cicd

Don't print out all files
  .github/workflows/deploy.yaml
Labels: cicd

try another way
  .github/workflows/deploy.yaml
Labels: cicd

bash equals
  .github/workflows/deploy.yaml
Labels: cicd

remove rouge dollar sign
  .github/workflows/deploy.yaml
Labels: cicd

deploy: af3582f46a212ab0dd4e7c25f1b74d315b474ee2
  tag/three-ts/index.xml
Labels: none

Update replication hub page
  content/replication-hub/replication-hub.md
Labels: content-related

deploy: 18ec59638d28ba62c67057caac87fb7efbd42ad3
  tag/three-ts/index.html
Labels: none

deploy: af3582f46a212ab0dd4e7c25f1b74d315b474ee2
  tag/three-ts/index.html
  tag/three-ts/index.xml
Labels: none

deploy: af3582f46a212ab0dd4e7c25f1b74d315b474ee2
  tag/three-ts/index.xml
Labels: none

Update replication hub page (#116)
  content/replication-hub/replication-hub.md
Labels: content-related

Update replication hub page (#116)
  content/replication-hub/replication-hub.md
Labels: content-related

deploy: 9dc131790d0bcce8195ee9f1b1a70936e898e568
  replication-hub/index.html
Labels: none

Course on Open Science 101 by Dermott Lynott
  content/educators-corner/017-teaching-os-to-undergraduates/index.md
Labels: content-related

Update replication-hub.md
  content/replication-hub/replication-hub.md
Labels: content-related

Course on Open Science 101 by Dermott Lynott (#118)
  content/educators-corner/017-teaching-os-to-undergraduates/index.md
Labels: content-related

Course on Open Science 101 by Dermott Lynott (#118)
  content/educators-corner/017-teaching-os-to-undergraduates/index.md
Labels: content-related

deploy: 4672593b701bb19965e9a8e3815b9a8099d9c1c1
  404.html
  author/dermot-lynott-forrt/index.html
  author/dermot-lynott-forrt/index.xml
  authors/index.html
  authors/index.xml
  authors/page/10/index.html
  authors/page/11/index.html
  authors/page/12/index.html
  authors/page/13/index.html
  authors/page/14/index.html
  authors/page/15/index.html
  authors/page/16/index.html
  authors/page/17/index.html
  authors/page/18/index.html
  authors/page/19/index.html
  authors/page/2/index.html
  authors/page/20/index.html
  authors/page/3/index.html
  authors/page/4/index.html
  authors/page/5/index.html
  authors/page/6/index.html
  authors/page/7/index.html
  authors/page/8/index.html
  authors/page/9/index.html
  educators-corner/001-representation-heatherurry/index.html
  educators-corner/016-reviewer-zero/index.html
  educators-corner/017-teaching-os-to-undergraduates/index.html
  educators-corner/index.html
  educators-corner/index.xml
  educators-corner/page/2/index.html
  index.html
  index.json
  index.xml
  sitemap.xml
  tag/three-ts/index.xml
Labels: none

Update replication-hub.md (#119)
  content/replication-hub/replication-hub.md
Labels: content-related
