Repository forrtproject/forrtproject.github.io, pull requests merged in 2024-07, with the labels that each got.

#144 Rectify reminder workflow timings
  .github/workflows/deploy.yaml
  .github/workflows/reminder-check.yml
  .github/workflows/reminder-create.yml
  .github/workflows/reminder_create.yml
  .github/workflows/reminder_remind.yml
Labels: cicd

#145 Introduce a workflow to remove stale issues/PRs
  .github/workflows/close-stale.yml
Labels: cicd

#107 Partners page change in layout
  content/about/partnerships/partnerships.md
Labels: stale

#114 Add a PR/Issue labeler workflow
  .github/labeler.yaml
  .github/workflows/labeler.yaml
Labels: enhancement, cicd

#149 Add Richard Dushime to the community page
  content/authors/richard-dushime/_index.md
  content/authors/richard-dushime/avatar.jpg
Labels: content related

#100 Neurodiversity and Open Scholarship Lesson Bank by Magdalena Grose-Hodge
  content/neurodiversity-lessonbank/community_psychology-diversity/index.md
  content/neurodiversity/neurodiversity.md
Labels: content related

#134 Introduce a staging environment
  .github/workflows/deploy.yaml
Labels: cicd

#151 Add Collective Library to partnership page
  content/about/partnerships/CollectiveLibrary.png
  content/about/partnerships/partnerships.md
Labels: content related

#152 Added new menus and updated related files
  config/_default/menus.toml
  content/OS-developing-world/LMIC.jpg
  content/OS-developing-world/OS-developing-world.md
  content/awop/awop.md
Labels: content related

#156 Add June to Newsletter Archive Page
  content/newsletters/index.md
Labels: content related
