Repository forrtproject/forrtproject.github.io, pull requests merged in 2025-04, with the labels that each got.

#311 Add The Junior Researcher Programme (JRP) to partners
  content/about/partnerships/logos/jrp.webp
  content/about/partnerships/partnerships.md
Labels: content related

#306 [Fixed] Replication Hub sub-page not rendered / broken link
  content/replication-hub/_index.md
  content/replication-hub/large-scale-replication-projects/index.md
  content/replication-hub/large_scale_projects/_index.md
  content/replication-hub/submit/index.md
Labels: content related

#308 Add March Newsletter to Archives
  content/newsletters/index.md
Labels: content related

#313 Replication layout fix [see the screenshot]
  content/replication-hub/_index.md
  layouts/plain_page/list.html
Labels: content related

#294 Lesson Plans
  config/_default/menus.toml
  content/lesson-plans/index.md
  content/lesson-plans/nd-lessons-plans.md
  content/neurodiversity-lessonbank/Lesson plans/Avoiding ableist language to diversify open scholarship.docx
  content/neurodiversity-lessonbank/Lesson plans/Diversity and Research.docx
  content/neurodiversity-lessonbank/Lesson plans/Diversity as a core value of Open Science.docx
  content/neurodiversity-lessonbank/Lesson plans/Diversity open scholarship with a neurodivergent perspective.docx
  content/neurodiversity-lessonbank/Lesson plans/How can we Open Scholarship to address the structural ableism and racism in our society.docx
  content/neurodiversity-lessonbank/Lesson plans/Implicit Bias part 2.docx
  content/neurodiversity-lessonbank/Lesson plans/Neuro_para.docx
  content/neurodiversity-lessonbank/Lesson plans/The myth of the normality How neurodiversity dismantles the generalisability crisis.docx
  content/neurodiversity-lessonbank/Lesson plans/generalizability.docx
  content/neurodiversity-lessonbank/Lesson plans/implicit bias lesson plan.docx
  content/neurodiversity-lessonbank/_index.md
  content/neurodiversity-lessonbank/community-psychology-diversity/index.html
  content/neurodiversity-lessonbank/community_psychology-diversity/index.md
  content/neurodiversity-lessonbank/diversity-and-research/index.html
  content/neurodiversity-lessonbank/diversity_and_research/index.md
  content/neurodiversity-lessonbank/generalizability/index.html
  content/neurodiversity-lessonbank/generalizability/index.md
  content/neurodiversity-lessonbank/images/SAM_OS.webp
  content/neurodiversity-lessonbank/implicit_bias/index.html
  content/neurodiversity-lessonbank/implicit_bias/index.md
  content/neurodiversity-lessonbank/masterstools/index.html
  content/neurodiversity-lessonbank/masterstools/index.md
  layouts/section/neurodiversit-lessonbank.html
Labels: content related

#317 Display G-sheet in the lesson plans page
  content/lesson-plans/nd-lessons-plans.md
Labels: content related

#320 Add Tenzing analyis
  .github/workflows/data-processing.yml
  .github/workflows/deploy.yaml
  content/contributor-analysis/Projects-Plot-Figure-1.png
  content/contributor-analysis/Role-Plot-Figure-1.png
  content/contributor-analysis/_index.md
  content/contributor-analysis/unnamed-chunk-1-1.png
  content/contributor-analysis/unnamed-chunk-2-1.png
  content/contributor-analysis/unnamed-chunk-3-1.png
  scripts/contributor-analysis/Projects-Plot-Figure-1.png
  scripts/contributor-analysis/Role-Plot-Figure-1.png
  scripts/contributor-analysis/contributor_analysis.md
  scripts/contributor-analysis/contributor_analysis.rmd
  scripts/contributor-analysis/unnamed-chunk-1-1.png
  scripts/contributor-analysis/unnamed-chunk-2-1.png
  scripts/contributor-analysis/unnamed-chunk-3-1.png
Labels: content related, cicd

#312 Add blogpost "Being a Minoritized Early Career Researcher in Political Psychology"
  content/educators-corner/019-Being-a-Minoritized-Early-Career-Researcher-in-Political-Psychology/index.md
Labels: content related

#323 Update contributor_analysis.rmd - fixing graphs
  .github/workflows/data-processing.yml
  .github/workflows/deploy.yaml
  scripts/contributor-analysis/contributor_analysis.rmd
Labels: cicd

#324 Fix Arabic alignment in glossary
  content/glossary/arabic/_index.md
  layouts/glossary/single.html
Labels: content related

#325 Enable prod deploy from workflow_dispatch
  .github/workflows/deploy.yaml
Labels: cicd

#327 Get Google Scholar chart to update
  .github/workflows/data-processing.yml
  scripts/gs-cite/google_scholar.py
Labels: cicd

#332 Add first testimonial and instructions
  content/testimonials/1-hero.md
  content/testimonials/README
  content/testimonials/index.md
  content/testimonials/intro.md
  content/testimonials/testimonial1.md
  content/testimonials/testimonial1.webp
Labels: content related

#333 Add email and ORCiD to testimonials
  content/testimonials/README
  content/testimonials/testimonial1.md
Labels: content related

#335 Update cv.md - added link to new cv pdf file
  content/cv/cv.md
Labels: content related

#340 Add The Letter to UNESCO’s Principles of Open Science Monitoring to Publications
  content/publications/Letter_to_UNESCO’s_Principles_of_Open_Science_Monitoring.pdf
  content/publications/publications.md
Labels: content related

#341 Update _index.md - fixing contributor analysis figure names
  content/contributor-analysis/_index.md
Labels: content related
