Repository forrtproject/forrtproject.github.io, pull requests merged in 2025-09, with the labels that each got.

#439 Add imprint
  content/imprint/index.md
  layouts/partials/site_footer.html
Labels: content related

#440 [Draft] feat: Add welcome page
  assets/css/welcome.css
  content/welcome/index.md
  layouts/shortcodes/social-media.html
  layouts/shortcodes/welcome.html
  layouts/welcome/list.html
  layouts/welcome/single.html
Labels: content related

#441 Add links for teams Slack chanels [Drafts]
  content/about/teams/teams.md
Labels: content related

#429 📊 Monthly GA Data Update - September 2025
  data/ga_data.json
Labels: monthly-update, ga-data

#430 Neurodiversity lessonbanks [HTML to MD] files
  content/neurodiversity-lessonbank/community-psychology-diversity/index.html
  content/neurodiversity-lessonbank/community-psychology-diversity/index.md
  content/neurodiversity-lessonbank/diversity-and-research/index.html
  content/neurodiversity-lessonbank/diversity-and-research/index.md
  content/neurodiversity-lessonbank/generalizability/index.html
  content/neurodiversity-lessonbank/generalizability/index.md
  content/neurodiversity-lessonbank/implicit_bias/index.html
  content/neurodiversity-lessonbank/implicit_bias/index.md
  content/neurodiversity-lessonbank/masterstools/index.html
  content/neurodiversity-lessonbank/masterstools/index.md
Labels: content related

#446 Contributor Analysis CI
  .github/workflows/data-processing.yml
  .github/workflows/deploy.yaml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-triage.yml
  .github/workflows/staging-aggregate.yaml
  content/contributor-analysis/index.Rmd
  content/contributor-analysis/index.md
  content/contributor-analysis/roles-plot-1.png
  layouts/contributors_analysis/list.html
  layouts/contributors_analysis/single.html
  layouts/partials/network-graph.html
Labels: content related, cicd

#447 📊 Monthly GA Data Update - September 2025
  data/ga_data.json
Labels: monthly-update, ga-data

#448 Add FORRT teams (13) Mapping of FORRT's Teams & Initiatives
  content/about/teams/teams.md
  scripts/forrt_contribs/tenzing.md
  scripts/forrt_contribs/tenzing_template.md
Labels: content related
