Repository forrtproject/forrtproject.github.io, pull requests merged in 2025-03, with the labels that each got.

#255 Restore build action functionality for PRs from forks
  .github/workflows/deploy.yaml
Labels: cicd

#258 Update reversals.md Fixing title
  .github/workflows/deploy.yaml
  content/reversals/reversals.md
Labels: content related, cicd

#246 Karegapauline patch 1
  content/clusters/intro-clusters.md
Labels: content related

#242 Update cv.md content update
  content/cv/cv.md
Labels: content related

#265 Remove twitter/x integration
  content/home/10-social.md
Labels: content related

#266 Add all social media links to homepage
  content/home/8-contact.md
  layouts/partials/site_head.html
  themes/academic/data/assets.toml
Labels: content related

#268 Add February 2025 Newsletter
  content/newsletters/index.md
Labels: content related

#272 Separate webpage build from data processing steps in action #262
  .github/workflows/data-processing.yml
  .github/workflows/deploy.yaml
Labels: cicd

#275 Updated CI download to LTS Version
  .github/workflows/deploy.yaml
Labels: cicd

#280 Add link check actions
  .github/workflows/link-check.yaml
Labels: cicd

#281 Remove the black bar on homepage
  content/home/10-social.md
  content/home/8-contact.md
Labels: content related

#259 Point of View: An annotated introductory reading list for neurodiversity
  content/publications/publications.md
Labels: content related

#283 minor update on about.md
  content/about/get-involved/about.md
Labels: content related

#264 Adding titles to index.md
  content/OS-developing-world/index.md
  content/about/about/index.md
  content/about/ambassadorship/about.md
  content/about/ambassadorship/history.md
  content/about/ambassadorship/index.md
  content/about/charity/index.md
  content/about/community/index.md
  content/about/get-involved/index.md
  content/about/mission/index.md
  content/about/partnerships/index.md
  content/about/principles/index.md
  content/about/teams/index.md
  content/adopting/adopting.md
  content/adopting/index.md
  content/awards/awards.md
  content/awards/index.md
  content/awop/index.md
  content/clusters/index.md
  content/contributors/index.md
  content/cv/index.md
  content/dei/index.md
  content/educators-corner/015-academic-jobs-us-vs-uk/index.md
  content/educators-corner/016-reviewer-zero/index.md
  content/equityinos/index.md
  content/feedback/index.md
  content/home/index.md
  content/impact/index.md
  content/iwiki/index.md
  content/iwiki/wiki.md
  content/lesson-plans/index.md
  content/manuscript/index.md
  content/mapping_os/index.md
  content/neurodiversity/index.md
  content/neurodiversity/neurodiversity.md
  content/nexus/index.md
  content/positive-changes-replication-crisis/index.md
  content/publications/index.md
  content/replication-hub/_index.md
  content/resources/index.md
  content/reversals/index.md
  content/reversals/reversals.md
  content/self-assessment/index.md
  content/syllabus/index.md
  content/talk/AIMOS21/index.md
  content/talk/CoP/index.md
  content/talk/os-day-goethe/index.md
  content/teaching_os/index.md
Labels: content related

#289 Update resources.md
  content/resources/resources.md
Labels: content related

#288 Remove defunct COC committee
  content/coc.md
Labels: content related

#290 Google scholar
  .github/workflows/data-processing.yml
  content/publications/citation_chart.webp
  content/publications/publications.md
  requirements.txt
  scripts/gs-cite/example.json
  scripts/gs-cite/google_scholar.py
Labels: content related, cicd

#291 Datasets Considered for Integration section 2 additions
  content/mapping_os/mapping_os.md
Labels: content related

#292 Add Incentivising Collaborative and Open Research (ICOR) to partners
  content/about/partnerships/icor.webp
  content/about/partnerships/partnerships.md
Labels: content related

#296 Awards
  content/awards/Einstein.webp
  content/awards/Jisc.webp
  content/awards/awards.md
Labels: content related

#298 Fix data processing in deploy
  .github/workflows/deploy.yaml
  scripts/gs-cite/google_scholar.py
Labels: cicd

#299 Continue Data Processing Even if one scripts fails
  .github/workflows/data-processing.yml
Labels: cicd

#300 Correct check for SERPAPI key
  .github/workflows/data-processing.yml
  scripts/gs-cite/google_scholar.py
Labels: cicd

#301 Update replication hub
  content/replication-hub/_index.md
  content/replication-hub/fred.webp
  content/replication-hub/index.md
  content/replication-hub/large_scale_projects/_index.md
  content/replication-hub/rep_hub_framework.webp
  content/replication-hub/rep_research.webp
Labels: content related

#302 Update broken link in rep hub
  content/replication-hub/large-scale-replication-projects/_index.md
Labels: content related

#305 Fix Replication Hub sub-page not rendered / broken link
  content/replication-hub/index.md
  content/replication-hub/large-scale-replication-projects/index.md
Labels: content related
