Repository forrtproject/forrtproject.github.io, pull requests merged in 2025-02, with the labels that each got.

#225 Add January Newsletter
  content/newsletters/index.md
Labels: content related

#230 minor spelling corrections on content section
  content/clusters/intro-clusters.md
Labels: content related

#224 Community map embeded html
  content/community-map/index.md
  static/apps/forrt-map.html
  themes/academic/layouts/community-map/single.html
Labels: content related

#223 Update link for sherpa romeo services and Nudge: Improving Decisions about Health, Wealth, and Happiness
  content/glossary/english/sherpa_romeo.md
  content/glossary/references/index.md
  content/reversals/reversals.md
Labels: content related

#239 workflow update to pass PRs from Forks repos
  .github/workflows/check_images.yaml
Labels: cicd

#249 Try to restore pic check action (pull PR number correctly)
  .github/workflows/check_images.yaml
  scripts/webp_conversion/check_images_in_pr.py
Labels: cicd

#251 Revert "Try to restore pic check action (pull PR number correctly)"
  .github/workflows/check_images.yaml
  scripts/webp_conversion/check_images_in_pr.py
Labels: cicd

#250 Revert "workflow update to pass PRs from Forks repos"
  .github/workflows/check_images.yaml
Labels: cicd

#248 Display google analytics on website
  .github/workflows/deploy.yaml
  config/_default/menus.toml
  content/about/visitors/index.md
  data/ga_data.json
  layouts/partials/page_footer.html
  layouts/shortcodes/ga_daily_visitors.html
  layouts/shortcodes/ga_map.html
  layouts/shortcodes/ga_top_pages.html
  requirements.txt
  scripts/download_ga_data.py
  static/antarctica.geojson
  static/countries.geojson
Labels: content related, cicd

#209 editing mapping
  content/mapping_os/mapping_os.md
Labels: content related
